.navbar-center{
	float: none;
}

.container{
	padding-right: 0px;
	padding-left: 0px;
}

.container .col-md-12{
	padding-left: 0px;
	padding-right: 0px;
}

.container .col-md-3{
	margin-left: 0px;
	margin-right: 0px;
}